@import './receita/receita-botao.css';
@import './receita/receita-conteudo.css';
@import './receita/receita-descricao.css';
@import './receita/receita-imagem.css';
@import './receita/receita-titulo.css';
@import './receita/receita.css';

.receitas{
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 0){
    .receitas{
        padding: 5rem 0 0 1rem;
    }
    
}


@media screen and (min-width: 768px){
    .receitas{
        padding: 5rem 0 0 2.5rem;
        
    }
}
@media screen and (min-width: 992px){
    .receitas{
        padding: 5rem 0 0 5rem;
    }
}